@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<TravelBlog.Models.Suggestion>

<ul>
    @foreach (var listSuggestion in Model)
    {
        <li>@listSuggestion.City</li>
    }
</ul>
